In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master('local[*]') \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/13 05:01:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

check green and yellow data schema

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [3]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [4]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [5]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [6]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [7]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

uniform the schema column name

In [8]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [9]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [10]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [11]:
common_columns = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [12]:
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

add service_type

In [13]:
from pyspark.sql import functions as F

In [14]:
df_green_sel = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [15]:
df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

combine green and yellow data

In [16]:
df_trip_data = df_green_sel.unionAll(df_yellow_sel)

In [17]:
df_trip_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green|  570466|
|      yellow|15000700|
+------------+--------+

In [18]:
df_trip_data.registerTempTable('trips_data')

/home/yic/Documents/Library/spark-3.3.1-bin-hadoop3/python/lib/pyspark.zip/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.

In [19]:
spark.sql("""
SELECT
    service_type,
    count(1)
FROM trips_data
GROUP BY
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green|  570466|
|      yellow|15000700|
+------------+--------+

use SQL to generate revenue report

In [20]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 
    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,
    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [21]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         166|2021-06-01 00:00:00|       green|            35136.96|               1359.6|                 1268.0|          4529.26000000001|           747.5199999999993|                    830.9999999999653|           45920.04000000077|                              2271.5|        1.2098668754894284|      13.655554355651544|
|         189|2021-06-01 00:00:00|       green|   4480.379999999997|                287.6|                   23.0|         299.5999999999998|          36.300000000000004|                   56.999999999999815|           5220.080000000001|                               13.75|        1.1590909090909092|      423.33326315789486|
|          34|2021-06-01 00:00:00|       green|              939.69|                 20.5|                    7.0|        60.349999999999994|                         9.0|                                  9.3|          1051.3399999999997|                                11.0|                       1.0|       5.624516129032257|
|          22|2021-06-01 00:00:00|       green|  5856.1699999999955|   467.45000000000005|                   11.5|        7.1899999999999995|          206.24000000000007|                    56.69999999999982|           6605.249999999997|                                 0.0|                     1.125|      1489.0338095238099|
|         217|2021-06-01 00:00:00|       green|             1202.18|                 97.5|                    5.5|                      8.16|                       32.75|                   14.100000000000012|          1362.9399999999994|                                 0.0|        1.3333333333333333|       6.325319148936169|
|         202|2021-06-01 00:00:00|       green|   985.3699999999998|                 66.5|                    5.0|                     20.17|                        6.55|                   10.200000000000003|          1104.7899999999997|                                11.0|                       1.0|       7.231176470588235|
|         116|2021-06-01 00:00:00|       green|  21253.740000000013|    821.4000000000001|                  469.5|        1876.2000000000014|           423.8400000000004|                   390.00000000000904|          25931.929999999673|                               665.5|        1.1906735751295336|      29.631368178324358|
|          42|2021-06-01 00:00:00|       green|   51145.46999999999|    2278.099999999999|                 1282.0|         3356.550000000004|          1055.2699999999977|                   1042.4999999999334|           61537.89000000217|                              1210.0|        1.2066517189835575|       66.72575931232096|
|          64|2021-06-01 00:00:00|       green|              749.47|                 39.0|                    2.0|                      3.19|                        26.2|                    5.699999999999998|                      825.56|                                 0.0|                       1.0|      11.025499999999997|
|         144|2021-06-01 00:00:00|       green|  399.28999999999996|                 22.0|                    2.0|                       0.0|                         0.0|                    3.599999999999999|                      426.89|                                 0.0|                       1.0|       6.560833333333332|
|          65|2021-06-01 00:00:00|       green|  27573.560000000052|               1154.5|                  693.5|        2899.0999999999967|          135.45000000000002|                   487.80000000001274|           33251.90999999963|                              415.25|        1.1130994989262706|       71.48762138905967|
|          77|2021-06-01 00:00:00|       green|   7680.990000000002|                425.4|                   45.0|                     92.75|           367.9600000000003|                    73.79999999999966|           8688.650000000007|                                 0.0|        1.2065217391304348|       7.420688259109313|
|           1|2021-06-01 00:00:00|       green|               194.0|                  0.0|                    0.0|                     31.66|                         0.0|                                  0.6|                      226.26|                                 0.0|                       1.5|                    0.03|
|          55|2021-06-01 00:00:00|       green|  15376.580000000016|    934.6500000000003|                   46.5|                     47.39|           515.9500000000005|                   124.19999999999918|          17053.519999999964|                                2.75|        1.3636363636363635|      1034.3268750000007|
|         188|2021-06-01 00:00:00|       green|  17740.020000000073|   1510.7999999999997|                   49.0|        313.16999999999996|          341.24000000000024|                   210.00000000000225|          20188.979999999934|                               13.75|        1.1862745098039216|      490.99020000000024|
|          47|2021-06-01 00:00:00|       green|   7082.180000000002|    494.4500000000001|                   28.5|        154.28000000000006|           275.1000000000002|                    84.59999999999955|           8135.610000000013|                                 5.5|        1.0512820512820513|       59.25450354609939|
|         226|2021-06-01 00:00:00|       green|   11070.48000000001|               570.15|                  118.0|        342.46999999999997|           227.6000000000001|                   137.99999999999952|           12527.19999999996|                                60.5|        1.1976284584980237|      261.27235930735935|
|          29|2021-06-01 00:00:00|       green|             4606.74|               338.75|                   18.0|                      4.42|          129.71999999999997|                     48.2999999999999|                     5145.93|                                 0.0|        1.0434782608695652|       6.866397515527955|
|         192|2021-06-01 00:00:00|       green|  1595.8199999999995|                127.5|                    6.0|                       0.0|                        26.2|                    17.10000000000002|          1772.6200000000001|                                 0.0|                       1.0|       5.461525423728814|
|         168|2021-06-01 00:00:00|       green|  11310.019999999997|    795.4000000000001|                   89.5|        189.51000000000002|           348.7400000000003|                   154.50000000000014|          12939.919999999976|                                44.0|         1.151376146788991|       5.124042553191492|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [22]:
df_result.coalesce(1).write.parquet('data/report/revenue/')#, mode='overwrite')

In [23]:
!hadoop fs -ls data/report/revenue

Found 2 items
-rw-r--r--   1 yic supergroup          0 2023-03-13 05:01 data/report/revenue/_SUCCESS
-rw-r--r--   1 yic supergroup     209152 2023-03-13 05:01 data/report/revenue/part-00000-4101c619-7310-4f90-9570-aacff310f03e-c000.snappy.parquet