# Check Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('yellow_tripdata_2022-01.csv', nrows=100)

In [3]:
df

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,1,2022-01-01 00:32:27,2022-01-01 00:39:38,3.0,1.00,1.0,N,239,238,1,6.5,3.0,0.5,2.05,0.0,0.3,12.35,2.5,0.0
96,96,1,2022-01-01 00:43:15,2022-01-01 01:01:35,1.0,7.60,1.0,N,238,153,1,24.0,3.0,0.5,0.00,0.0,0.3,27.80,2.5,0.0
97,97,2,2022-01-01 00:15:35,2022-01-01 00:20:49,2.0,0.88,1.0,N,233,229,2,5.5,0.5,0.5,0.00,0.0,0.3,9.30,2.5,0.0
98,98,2,2022-01-01 00:32:24,2022-01-01 00:34:54,1.0,0.63,1.0,N,233,137,1,4.0,0.5,0.5,1.00,0.0,0.3,8.80,2.5,0.0
99,99,2,2022-01-01 00:40:45,2022-01-01 00:47:22,1.0,1.14,1.0,N,170,229,1,6.5,0.5,0.5,2.06,0.0,0.3,12.36,2.5,0.0

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
df.drop(columns=df.columns[0], axis=1, inplace=True)

In [6]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

---

# Upload to Postgres

In [7]:
from sqlalchemy import create_engine

## Build the connection

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
engine.connect()

## Generate the create table SQL
it will be used when we execute create table

In [10]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

## Prepare iterative data

In [11]:
df_iter = pd.read_csv('yellow_tripdata_2022-01.csv', iterator=True, chunksize=100000)

In [12]:
df_iter

In [13]:
df = next(df_iter)

In [14]:
len(df)

100000

In [15]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.drop(columns=df.columns[0], axis=1, inplace=True)

## Create Table

In [16]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [17]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

### Check

check if table create successfully <br>
type `\d yellow_taxi_data;` on Postgres

## Insert Data

### Insert First Chunk

In [18]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 2.65 s, sys: 75.5 ms, total: 2.72 s
Wall time: 5.36 s

1000

### Insert All Chunk

In [19]:
from time import time

In [20]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.drop(columns=df.columns[0], axis=1, inplace=True)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

inserted another chunk..., took 5.452 second
inserted another chunk..., took 5.395 second
inserted another chunk..., took 5.382 second
inserted another chunk..., took 5.441 second
inserted another chunk..., took 5.394 second
inserted another chunk..., took 5.379 second
inserted another chunk..., took 5.452 second
inserted another chunk..., took 5.454 second
inserted another chunk..., took 5.414 second
inserted another chunk..., took 5.733 second
inserted another chunk..., took 5.627 second
inserted another chunk..., took 5.760 second
inserted another chunk..., took 5.649 second
inserted another chunk..., took 5.672 second
inserted another chunk..., took 5.732 second
inserted another chunk..., took 5.642 second
inserted another chunk..., took 5.659 second
inserted another chunk..., took 5.742 second
inserted another chunk..., took 5.718 second
inserted another chunk..., took 5.701 second
inserted another chunk..., took 5.688 second
inserted another chunk..., took 5.835 second

/tmp/ipykernel_6067/1090623820.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 5.549 second
inserted another chunk..., took 3.133 second

StopIteration:

### check

check if insert data number is correct<br>
type `SELECT COUNT(1) FROM yellow_taxi_data;` on Postgres

## Postgres Operation

In [21]:
query = """
SELECT 1;
"""

pd.read_sql(query, con=engine)

   ?column?
0         1

In [22]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [23]:
query = """
\dt
"""

pd.read_sql(query, con=engine)

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "\"
LINE 2: \dt
        ^

[SQL:
\dt
]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [25]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False

In [26]:
query = """
SELECT * FROM yellow_taxi_data LIMIT 10;
"""

pd.read_sql(query, con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.00,0.3,21.95,2.5,0.0
1,1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.00,0.3,13.30,0.0,0.0
2,2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.00,0.3,10.56,0.0,0.0
3,3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.00,0.3,11.80,2.5,0.0
4,4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.00,0.3,30.30,2.5,0.0
5,5,1,2022-01-01 00:40:15,2022-01-01 01:09:48,1.0,10.30,1.0,N,138,161,1,33.0,3.0,0.5,13.00,6.55,0.3,56.35,2.5,0.0
6,6,2,2022-01-01 00:20:50,2022-01-01 00:34:58,1.0,5.07,1.0,N,233,87,1,17.0,0.5,0.5,5.20,0.00,0.3,26.00,2.5,0.0
7,7,2,2022-01-01 00:13:04,2022-01-01 00:22:45,1.0,2.02,1.0,N,238,152,2,9.0,0.5,0.5,0.00,0.00,0.3,12.80,2.5,0.0
8,8,2,2022-01-01 00:30:02,2022-01-01 00:44:49,1.0,2.71,1.0,N,166,236,1,12.0,0.5,0.5,2.25,0.00,0.3,18.05,2.5,0.0
9,9,2,2022-01-01 00:48:52,2022-01-01 00:53:28,1.0,0.78,1.0,N,236,141,2,5.0,0.5,0.5,0.00,0.00,0.3,8.80,2.5,0.0